@model HomeViewModel

<partial name="_Carousel"/>

<h2>Os mais pedidos</h2>
<h4>Bora esperimentar?</h4>

    <div class="row">
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>